body {
  margin: 0;
  font-family: "Fira Code", monospace;
  background: #0d1117;
  color: #c9d1d9;
  padding: 5px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Card */
.card {
  background: #161b22;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #30363d;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  text-align: center;
  transition: 0.2s ease;
}

.card:hover {
  border-color: #58a6ff;
  transform: translateY(-3px);
}

/* Preview */
.preview {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #1c1f23;
  border-radius: 8px;
}

.preview img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

/* Filename */
.filename {
  font-size: 14px;
  margin: 10px 0;
  word-break: break-all;
  color: #ffffff;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

button {
  padding: 6px 10px;
  border: 1px solid #30363d;
  border-radius: 6px;
  cursor: pointer;
  background: #21262d;
  color: #c9d1d9;
  transition: 0.2s ease;
}

button:hover {
  background: #1369cb;
}

button.delete {
  border-color: #da3633;
  color: #ff7b72;
}

button.delete:hover {
  background: #da3633;
  color: white;
}

button.download {
  border-color: #1369cb;
  color: #327acc;
}

button.download:hover {
  background: #1369cb;
  color: white;
}

/* logout */
button.logout {
  border-color: #cb1313;
  color: #ae4141;
}

button.logout:hover {
  background: #cb1313;
  color: white;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

/* Text Viewer */
.textViewer {
  background: #0d1117;
  padding: 20px;
  max-height: 80%;
  overflow: auto;
  width: 80%;
  white-space: pre-wrap;
  color: #58a6ff;
  border-radius: 8px;
  border: 1px solid #30363d;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #161b22;
  padding: 15px;
  display: flex;
  gap: 20px;
  z-index: 1000;
  border-bottom: 1px solid #30363d;
}

.navbar a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #79c0ff;
}

/* Create Page */
.createPage {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createPage input,
.createPage textarea {
  background: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
  padding: 12px;
  border-radius: 6px;
  font-family: monospace;
}

.createPage textarea {
  height: 300px;
  resize: none;
}

.createButtons{
  display: flex;
  gap: 20px;
  margin-right: 20px;
  justify-content: flex-end;

}

/* Chat Page */
.chatPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0d1117;
}

/* Username */
.usernameBar {
  padding: 10px;
  background: #161b22;
  border-bottom: 1px solid #30363d;
}

.usernameBar input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: #c9d1d9;
}

/* Messages */
.chatBox {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.username.me {
  color: #000000;
  font-weight: bold;
}

.username.other {
  color: #ffffff;
  font-weight: bold;
}


.message {
  max-width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 14px;
}

.message.me {
  background: #238636;
  color: white;
  margin-left: auto;
}

.message.other {
  background: #21262d;
  color: #ffffff;
  border: 1px solid #30363d;
}

.message small {
  font-size: 11px;
  opacity: 0.6;
}

/* Send Box */
.sendBox {
  display: flex;
  padding: 10px;
  background: #161b22;
  border-top: 1px solid #30363d;
}

.sendBox input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: #c9d1d9;
}

.sendBox button {
  margin-left: 10px;
  padding: 10px 20px;
  background: #1f6feb;
  border: none;
  color: white;
  border-radius: 6px;
}

.sendBox button:hover {
  background: #388bfd;
}

/* Header (File Page) */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161b22;
    padding: 15px 25px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #30363d;
}

.header h2 {
    color: #58a6ff;
}

.header div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btnIcon {
    width: 25px;
    height: 25px;
}

.uploadBtn {
    padding: 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.uploadBtn:hover {
    background: #2c3136;
}

/* Text Modal Box */
.textModal {
    background: #161b22;
    width: 70%;
    max-height: 80%;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #30363d;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 10px;
}

.copyBtn {
    background: #1f6feb;
    color: white;
}

.cancelBtn {
    background: #da3633;
    color: white;
}

.cancelBtn:hover {
    background: #cb1313;
    color: white;
}

.fileIcon{
    padding: 50px;
}

.searchBar {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #30363d;
    background: #0d1117;
    color: #c9d1d9;
    outline: none;
    width: 200px;
}

.searchBar:focus {
    border-color: #58a6ff;
}

/* Highlight matched file */
.highlight {
    border: 2px solid #3f98ff !important;
    box-shadow: 0 0 10px #3f98ff;
}


/* login page */

/* .loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d1117;
  font-family: "Fira Code", monospace;
}

.loginCard {
  background: #161b22;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid #30363d;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
} */

.loginPage {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(10px);
  padding: 40px;
  width: 350px;
  flex-direction: column;
  border-radius: 12px;
  color: white;
}


.loginCard form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.server-inline {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 6px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #58a6ff;
  padding: 8px;
}

.server-row {
  display: flex; 
  gap: 8px;
  align-items: center;
}

.server-value {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.loginCard h2 {
  text-align: center;
  color: #58a6ff;
  margin-bottom: 10px;
}

.loginCard input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: #c9d1d9;
  outline: none;
}

.loginCard input:focus {
  border-color: #58a6ff;
}

.loginCard button {
  padding: 12px;
  background: #1f6feb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.loginCard button:hover {
  background: #388bfd;
}

.errorMsg {
  color: #ff7b72;
  font-size: 14px;
  text-align: center;
}

.usernamePart {
  font-weight: bold;
  color: #58a6ff;
}

.scroll{
  margin-bottom: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}

.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px; /* space for bottom bar */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #111;
    color: #cacaca;
    text-align: center;
    padding: 12px 0;
    border-top: 2px solid #58a6ff;
    font-size: 14px;
    font-weight: bold;
}




/* progress */
.progressContainer {
    width: 100%;
    background: #222;
    height: 25px;
    margin: 10px 5px;
    border-radius: 5px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background: linear-gradient(90deg, #248aff, #58a6ff);
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease;
}

